In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [39]:
happiness = pd.read_csv ('world-happiness-report.2005-2020csv.csv')
happiness

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.72,7.37,0.45,50.80,0.72,1.68e-01,0.88,0.52,0.26
1,Afghanistan,2009,4.40,7.54,0.55,51.20,0.68,1.90e-01,0.85,0.58,0.24
2,Afghanistan,2010,4.76,7.65,0.54,51.60,0.60,1.21e-01,0.71,0.62,0.28
3,Afghanistan,2011,3.83,7.62,0.52,51.92,0.50,1.62e-01,0.73,0.61,0.27
4,Afghanistan,2012,3.78,7.71,0.52,52.24,0.53,2.36e-01,0.78,0.71,0.27
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.73,7.98,0.77,54.40,0.73,-9.50e-02,0.72,0.74,0.21
1945,Zimbabwe,2017,3.64,8.02,0.75,55.00,0.75,-9.80e-02,0.75,0.81,0.22
1946,Zimbabwe,2018,3.62,8.05,0.78,55.60,0.76,-6.80e-02,0.84,0.71,0.21
1947,Zimbabwe,2019,2.69,7.95,0.76,56.20,0.63,-6.40e-02,0.83,0.72,0.23
1948,Zimbabwe,2020,3.16,7.83,0.72,56.80,0.64,-9.00e-03,0.79,0.70,0.35

In [40]:
happiness.describe()

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,1949.00,1949.00,1913.00,1936.00,1894.00,1917.00,1.86e+03,1839.00,1927.00,1933.00
mean,2013.22,5.47,9.37,0.81,63.36,0.74,1.03e-04,0.75,0.71,0.27
std,4.17,1.12,1.15,0.12,7.51,0.14,1.62e-01,0.19,0.11,0.09
min,2005.00,2.38,6.63,0.29,32.30,0.26,-3.35e-01,0.04,0.32,0.08
25%,2010.00,4.64,8.46,0.75,58.69,0.65,-1.13e-01,0.69,0.63,0.21
50%,2013.00,5.39,9.46,0.84,65.20,0.76,-2.55e-02,0.80,0.72,0.26
75%,2017.00,6.28,10.35,0.91,68.59,0.86,9.10e-02,0.87,0.80,0.32
max,2020.00,8.02,11.65,0.99,77.10,0.98,6.98e-01,0.98,0.94,0.70

In [41]:
happiness.shape

(1949, 11)

In [42]:
pd.set_option("display.precision", 2)
happiness.head

<bound method NDFrame.head of      Country name  year  Life Ladder  Log GDP per capita  Social support  \
0     Afghanistan  2008         3.72                7.37            0.45
1     Afghanistan  2009         4.40                7.54            0.55
2     Afghanistan  2010         4.76                7.65            0.54
3     Afghanistan  2011         3.83                7.62            0.52
4     Afghanistan  2012         3.78                7.71            0.52
...           ...   ...          ...                 ...             ...
1944     Zimbabwe  2016         3.73                7.98            0.77
1945     Zimbabwe  2017         3.64                8.02            0.75
1946     Zimbabwe  2018         3.62                8.05            0.78
1947     Zimbabwe  2019         2.69                7.95            0.76
1948     Zimbabwe  2020         3.16                7.83            0.72

      Healthy life expectancy at birth  Freedom to make life choices  \
0                                50.80                          0.72
1                                51.20                          0.68
2                                51.60                          0.60
3                                51.92                          0.50
4                                52.24                          0.53
...                                ...                           ...
1944                             54.40                          0.73
1945                             55.00                          0.75
1946                             55.60                          0.76
1947                             56.20                          0.63
1948                             56.80                          0.64

      Generosity  Perceptions of corruption  Positive affect  Negative affect
0       1.68e-01                       0.88             0.52             0.26
1       1.90e-01                       0.85             0.58             0.24
2       1.21e-01                       0.71             0.62             0.28
3       1.62e-01                       0.73             0.61             0.27
4       2.36e-01                       0.78             0.71             0.27
...          ...                        ...              ...              ...
1944   -9.50e-02                       0.72             0.74             0.21
1945   -9.80e-02                       0.75             0.81             0.22
1946   -6.80e-02                       0.84             0.71             0.21
1947   -6.40e-02                       0.83             0.72             0.23
1948   -9.00e-03                       0.79             0.70             0.35

[1949 rows x 11 columns]>

In [32]:
print(df['Country name'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1944       Zimbabwe
1945       Zimbabwe
1946       Zimbabwe
1947       Zimbabwe
1948       Zimbabwe
Name: Country name, Length: 1949, dtype: object

In [36]:
df["Country name"].value_counts().sort_values(ascending = False)

Zimbabwe       15
Russia         15
Philippines    15
Mexico         15
Moldova        15
               ..
Maldives        1
Suriname        1
Cuba            1
Oman            1
Guyana          1
Name: Country name, Length: 166, dtype: int64

In [37]:
print(f"The number of countries in our dataset is: {df['Country name'].nunique()}")

The number of countries in our dataset is: 166

In [38]:
df['year'].value_counts()

2017    147
2011    146
2014    145
2019    144
2015    143
2012    142
2016    142
2018    142
2013    137
2010    124
2009    114
2008    110
2007    102
2020     95
2006     89
2005     27
Name: year, dtype: int64

In [46]:
df['Country name','year']

KeyError: ('Country name', 'year')